{% extends "base_email.html" %}
{% block pre_cta %}
Hello <strong>{{ name }}</strong>,<br/>
<br/>
Your review has been requested by <strong>{{ username }}</strong> in an Audit.<br/>
<br/>
Audit Name: <strong>{{ audit_title }}</strong><br/>
Please click on this link to review and sign:<br/>
{% endblock pre_cta %}
{% block cta %}<a target="_blank" href="{{ presigned_url }}">Open Audit to Review</a>{% endblock cta %}
{% block post_cta %}
<i>The link is secure and private to you, please do not share it with anyone else!</i><br/>
<br/>
Best,<br/>
Collabright Team
{% endblock post_cta %}