.reviewer-layout {
  height:100%;
  display: flex;
}

.reviewer-content-wrapper {
  width: 100%;
  padding: 0 24px;
  background: #fff;
}

.reviewer-content {
  max-width: 1280px;
  max-width: 100%;
  margin: auto;
  transition: max-width 250ms;
  overflow: auto;
  padding: 0 0 16px 0;
}

.reviewer-content-full {
  height: 100%;
}
