.banner {
    background-color: aliceblue;
    margin: -24px;
}

.banner-header {
    width: 100%;
    background-color: #d0e9ff;
    height: 400px;
    padding: 0 40px;
    min-height: 0;
}

.banner-header-content_container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.banner-header-container {
    max-width: 1000px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 100%;
}

@media (max-width:961px) {
    .banner-header-container {
        justify-content: center;
    }
}

.banner-header-image {
    display: flex;
    width: 600px;
    height: 600px;
    position: relative;
    bottom: -90px;
    right: -50px;
}

@media (max-width:961px) {
    .banner-header-image {
        display: none;
    }
}

.banner-cta {
    margin-top: 12px;
    text-align: left;
}