.integration-card {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.integration-list {
  margin: 16px 0;
}

.integration-card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.integration-connect {
  margin: auto;
}

.integration-logo {
  padding: 30px;
  background: rgba(24,144,255,20%);
  height: 150px;
  object-fit: contain;
}